{%- if tool_parent is defined and tool_parent %}
	{%- set thisKeyWord = tool_parent %}
{%- else %}
	{%- set thisKeyWord = 'this' %}
{%- endif %}

{%- set tool_instructions %}
You can execute actions from available tools:
{{ tools }}

To call a tool, write javascript code inside a script tag.
Eg:
<script>
const input = 123;
const data = {{ thisKeyWord }}.tool_1(input);
return {{ thisKeyWord }}.tool_2(data, input);
</script>
{%- endset %}

{%- for message in messages %}
	{%- if loop.first and messages[0]['role'] != 'system' %}
		{{(
			'<|im_start|>system\n'
			'You are a helpful AI assistant named SmolLM, created by HuggingFace and fine tuned by Rajat Sandeep.'
			~ (tool_instructions if tools) ~
			'<|im_end|>'
		)}}
{% endif -%}
{{ '<|im_start|>' ~ message['role'] ~ '\n' ~ message['content'] ~ '<|im_end|>' }}
{%- endfor -%}
{% if add_generation_prompt %}
{{ '<|im_start|>assistant' }}
{%- endif %}
